---
title: "Compatibilités navigateurs — le point d'équilibre"
description: "On code pour qui là ?"
author: "Julien Lopinto"
date: "2022-01-18"
published: true
level: 2
---

<script>
	import Link from '$lib/atoms/link/Link.svelte';
</script>

# deuxieme

<Link href="#1">a link</Link>
