---
title: "Welcome to my blog!"
description: "I love to write about Svelte and all the cool things that you can build with it."
author: "Julien Lopinto"
date: "2021-04-21"
published: true
level: 5
---

<script>
	import Link from '$lib/atoms/link/Link.svelte';
</script>

# Mon premier article !

> lets go pour un peu de blabla autour des css

<Link href="#1">a link</Link>
