---
title: "Welcome to my blog!"
description: "I love to write about Svelte and all the cool things that you can build with it."
author: "Mehdi Vasigh"
date: "2021-04-21"
published: true
---

<script>
	import Link from '$lib/atoms/link/Link.svelte';
</script>

## premier

<Link href="#1">a link</Link>
